* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body {
    width: 1280px;
}

a {
    text-decoration: none;
}

header {
    background-color: #2B2A2B;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px, 40px;
    height: 64px;
}

header a {
    color: white;
}

.coffeeweb {
    display: flex;
    gap: 8px;
    width: 180px;
    margin-left: 40px;
    font-size: 24px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    gap: 20px;
    font-size: 14px;
}

nav a {
    color: white;
    text-decoration: none;
}

.phone {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 24px, 24px;
    font-size: 14px;
    font-weight: 600;
}

.phone img {
    height: 18px;
    width: 18px;
}

.phone p {
    gap: 20px;
    line-height: 14px;
}

.phone__button {
    background-color: #515051;
    color: white;
    gap: 10px;
    border-radius: 6px;
    width: 120px;
    height: 40px;
    border: none;
    font-weight: 600;
}

.bag {
    margin-right: 40px;
}

/* cointainer coffee */

.maincoffee {
    display: flex;
    flex-direction: row;
    background-color: rgba(227, 222, 215, 0.3);
    padding: 48px, 40px;
    gap: 8px;
}

.coffeewords {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 48px;
    text-shadow: 0px 1.5px 2px;
}

.coffeewords__h4 {
    color: #2A5B45;
    font-size: 18px;
    font-weight: 400;
}

.coffeewords__h1 {
    color: #000000;
    font-size: 40px;
    font-weight: 600;

}

.coffeewords__p {
    color: #111827;
    font-size: 14px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 0;
    gap: 16px;
}

.button__discover {
    color: #FFFFFF;
    background: #1F1815;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 4px;
    border: none;
}

.button__buy {
    color: #FFFFFF;
    background: #2A5B45;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 4px;
    border: none;
}

.seedcoffee {
    border-radius: 2px;
    box-shadow: black;
    padding: 40px;
}

/* Container info */

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assest/coffee_background.jpeg);
    background-repeat: no-repeat;
    background-size: 1280px 500px;
    height: 500px;
    font-weight: 600;
}

.espresso {
    display: flex;
    flex-direction: row;
    font-size: 24px;
}

.photo__conditions {
    display: flex;
    font-size: 16px;
    color: #FFFFFF;
}

.photo__order {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
    margin: 24px;
    width: 316px;
    height: 232px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.photo__order__list {
    background-color: #2A5B45;
    border-radius: 15px;
    width: 50px;
    height: 50px;
}

.photo__order__list img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
}

.photo__order h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.photo__order p {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

/* Section bags */

.bags {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffffb0;
    text-align: center;
    padding: 100px;
    height: 600px;
}

.bags__news h2 {
    text-align: center;
    color: #2A5B45;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px;
}

.all {
    display: flex;
    background-color: white;
}

.bags__costarica {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    border-radius: 15px;
    border: 1px solid rgb(190, 187, 187);
    margin-right: 20px;
}

.bags__costarica img {
    width: 219px;
    height: 219px;
    padding: 24px 0;
    margin: 24px;
}

.bags__costarica button {
    background-color: rgba(42, 91, 69, 0.7);
    color: #FFFFFF;
    font-size: 15px;
    padding: 8px;
    width: 80px;
    border-radius: 8px;
    margin: 20px;
    border: none;
}

.bags__costarica:hover {
    background-color: #E3DED7
}

.bags__costarica:hover button {
    background-color: #2A5B45;
}

.look {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
    gap: 10px;
}

.look__arrow {
    display: flex;
    height: 20px;
    width: 20px;
}

/* Questions */

.questions {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    align-items: center;
    background-color: #2A5B45;
    height: 621px;
}

.questions__frecuency {
    width: 80%;
}

.questions__frecuency {
    padding: 10px;
    border-top: #000000;
}

.questions h1 {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.questions__frecuency__coffee {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 25px;
    color: 2B2A2B;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
    font-weight: 350;
    font-size: 12px;
}

.arrowQuestions_clase {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions__frecuency__coffee p {
    border-top: 1px solid #000000;
    padding: 10px;
}

.questions__frecuency__coffee h2 {
    padding-bottom: 10px;
}

.questions__doubt {
    color: #FFFFFF;
    display: flex;
    gap: 10px;
    text-decoration: underline;
}

/*   coffee shop  */

.shop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F7F5F3;
    padding: 44px 40px;
}

.shop__place {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 24px;
    margin: 10px;
}

.shop__place h2 {
    color: #2A5B45;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
}

.shop__place p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 20px 0;
}

.shop__photo {
    display: flex;
    border-radius: 20px;
}

.howtoget {
    display: flex;
    gap: 8px;
}

/* coffee contact */

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E3DED7;
}

.contact__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    gap: 20px;
    font-size: 14px;
}

.contact__info h1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.contact__info p {
    color: #6B7280;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.greyphone {
    display: flex;
}

.contact__fill {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-right: 40px;
    padding: 40px;
    width: 588px;
}

.contact_fill_us {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact__fill input {
    border-radius: 6px;
    height: 34px;
    border: 1px solid #D1D5DB;
}

.help {
    display: flex;
    margin-top: 20px;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
}

.agree {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.contact__fill button {
    color: #F7F5F3;
    background-color: #2A5B45;
    font-size: 15px;
    padding: 8px;
    width: 80px;
    border-radius: 8px;
    margin: 20px;
    border: none;
}

/* FOOTER */

footer {
    display: flex;
    background-color: #2B2A2B;
    height: 310px;
    color: #FFFFFF;
    padding: 60px;
    gap: 20px;
}

.end {
    flex-direction: row;
    width: 500px;
    background-color: #2B2A2B;
}

.endCoffee {
    display: flex;
    flex-direction: column;
    ;
}

.endCoffee button {
    display: flex;
    width: 200px;
    border: none;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 12px 24px;
    background-color: #515051;
    color: #FFFFFF;
    height: 48px;


    /* display: flex;
    margin: 10px;
    padding: 10px;
    background-color: #515051;
    color: #FFFFFF;
    border-radius: 5px;
    border:none; */
}

.endCoffeeAddress {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.footerEnlaces {
    display: flex;
    flex-direction: row;
    background-color: #2B2A2B
}

.endFive {
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 20px;
    gap: 20px;
}

.endThree {
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 20px;
    gap: 20px;
}

.cestaFooter{
text-align: center;
color: #FFFFFF;
background-color:#2B2A2B ;
margin: 0%;
}

/* footer {
    display: flex;
    flex-direction:row;
    background-color: #2B2A2B;
    height: 318px;
    padding: 20px;
    color: #FFFFFF;
}

.end {
    display: flex;
    
}

.end__coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.end__coffee__address {
    display: flex;
    gap: 10px;
    
}

.end__coffee button {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: #515051;
    color: #FFFFFF;
    border-radius: 5px;
    border:none;
}
.footerEnlaces {
    display: flex;
    flex-direction: column;
}

.endfive {
    display: flex;
    flex-direction: column;
}

.endthree  {
    display: flex;
    flex-direction: column;
} */




/**************TIENDA****************************/
.bagTienda1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffffb0;
    text-align: center;
    padding: 100px;
    height: 390px;
}

.bagsTienda2 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 10px;
    padding: 10px;
    gap: 24px;
    text-align: center;
}

.laCasita {                /* cafe agotado */
opacity: 0.3;          
}                     

/***************** CESTA *************************/

.cestah4 {
    display: flex;
    justify-content: center;
    color: #2A5B45;
    size: 24px;
    margin: 50px;
}

.cesta {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    
}

.producto_envio {
    display: flex;
    flex-direction: column;
}

h3 {
    display: flex;
}

.cestaProductos {
    display: flex;
    flex-direction: column;
    border: 50px;
}

.uno {
    display: flex;
    gap: 200px;
    padding: 20px;
}

.productos1 {
    display: flex;
    gap: 20px;

}

.cestaprecio {
    display: flex;
    flex-direction: column;
}

.letra {
    display: flex;
    flex-direction: row;

}

.productos2 {
    display: flex;
    gap: 20px;
}

.signosMenos, .signosMas {
    Width: 12px;
    Height: 12px;

}

.cafeSuma {
    Width: 55.66px;
    Height: 55.66px;
}

.cafeSuma {
    display: flex;
    width: 55.66px;
    height: 55.66px;
}

.signos {
    height: 12px;
    width: 12px;
}

.cestaEnvio {
    display: flex;
    flex-direction: column;
    border: 50px;
}

.totalCarrito {
    display: flex;
    flex-direction: column;
    background-color: #F7F5F3;
    padding: 24px;
    gap: 16px;
    width: 384px;
    height: 320px;
}

.totalCarrito h3 {
    display: flex;
    justify-content: center;
}

.carrito1 {
    display: flex;
    justify-content: space-around;
    gap: 190px;
}

.carrito2 {
    display: flex;
    justify-content: space-around;
    gap: 220px;
}

.carrito3 {
    display: flex;
    justify-content: space-around;
    gap: 220px;
}

.carrito4 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 25px;
}
.gratis{
    display: flex;
    margin-left: 250px;
}

.carrito4 button {
    height: 40px;
    width: 129px;
    color: #FFFFFF;
    background-color: #2A5B45;
    padding: 12px;
    gap: 8px;
    border: none;
    border-radius: 4px;
}

.cestaFooter {
    display: flex;
    justify-content: center;
    background-color: #2B2A2B;
    color: #FFFFFF;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    
}


/**************JS*****************/
.showHide {
    display: none;
}

.rotated {
    transform: rotate(180deg);
}